BODY { font-family: Verdana, Tahoma, Arial; font-size: 16px; line-height: 21px; padding: 0px; margin: 0px;}
TD {font-family: Verdana, Tahoma, Arial; font-size: 16px; line-height: 21px;}
IMG {border: 0px;}
P { padding: 5 0; margin: 0 0 0 0; }
A { font-family: Verdana, Tahoma, Arial; text-decoration: none; color:#000000;}
A:hover {color:#34A3FD;	}
H1, h1 A { font-size: 27px; line-height: 32px; font-weight: bold; color: #000000; margin: 5 0 5 0; }
H2 { font-size: 20px; font-weight: bold; color: #000000; margin: 5 0 5 0; }
H3 { font-size: 18px; font-weight: bold; color: #4380a5; margin: 5 0 5 0; }

.text_zag, .text_zag h1  { font-weight: bold; height: 35px; padding: 0 0 5 0; margin: 0 0 15 0; }
.menu_zag { height: 35px; font-size: 23px; line-height: 30px; font-weight: bold; padding-left: 20px;}
.spisok_zag { color: #34A3FD; font-size: 25px; display: block; font-weight: bold;font-family: Verdana, Tahoma, Arial; height: 40;}

A.menu { font-size: 16px;}
.spisok { padding: 0 0 0 10; line-height: 18px; }
.spisok A, .spisok A:hover  { font-size: 18px; color: #000000;}
.spisok A:hover  { color: #34A3FD;}

.bulet { width: 30px; height: 35px; text-align: center; padding: 0 10 0 5;}

.BBF { font-family: Verdana, Tahoma, Arial; font-size: 20px; }
.zag {color: #34A3FD; }

.c-right {padding-right: 10px;}

A:link.menu {text-decoration: none; color: black;}
A:hover.menu {color: #34A3FD; }
A:link.spisok {text-decoration: none; color: black;}
A:hover.spisok {color: black; }


#main{ padding: 10 10 10 15; vertical-align: top; width:100%;}
div.listing {color: #4380a5; font-family: courier; font-size: 9px; padding: 4 0;}
div.sub { padding: 3 0 0 15;}

p.BodyFirst, li.BodyFirst, div.BodyFirst {margin:0cm;	margin-bottom:.0001pt;text-align:justify;	font-size:10.0pt;	font-family:"Verdana";}
p.BodyText, li.BodyText, div.BodyText	{margin:0cm;	margin-bottom:.0001pt;	text-align:justify;	text-indent:1.0cm;	font-size:10.0pt;	font-family:"Verdana";}
.Section1 H3 {padding: 5 0 10 0;}
p.Art, li.Art, div.Art	{margin-top:12.0pt;	margin-right:0cm;	margin-bottom:0cm;	margin-left:0cm;	margin-bottom:.0001pt;	font-size:10.0pt;	font-family:"Times New Roman CYR";}
p.ArtPodpis, li.ArtPodpis, div.ArtPodpis	{margin-top:6.0pt;	margin-right:0cm;	margin-bottom:12.0pt;	margin-left:0cm;	page-break-after:avoid;	font-size:10.0pt;	font-family:Arial;}
.Header1, .Header1 A, .Header1 span  {margin-top:0cm;	margin-right:0cm;	margin-bottom:12.0pt;	margin-left:0cm;	page-break-after:avoid;	font-size:17.0pt;	font-family:"Arial CYR";	font-weight:bold;}
.Header2, .Header2 A, .Header2 span 	{margin-top:12.0pt;	margin-right:0cm;	margin-bottom:6.0pt;	margin-left:0cm;	page-break-after:avoid;	font-size:15.0pt;	font-family:"Arial CYR";	font-weight:bold;}
.Header3, .Header3 A, .Header3 span {margin-top:6.0pt;	margin-right:0cm;	margin-bottom:6.0pt;	margin-left:0cm;	page-break-after:avoid;	font-size:13.0pt;	font-family:"Arial CYR";	font-weight:bold;}
.Header4, .Header4 A, .Header4 span 	{margin-top:6.0pt;	margin-right:0cm;	margin-bottom:0cm;	margin-left:0cm;	margin-bottom:.0001pt;	page-break-after:avoid;	font-size:11.0pt;	font-family:"Arial CYR";	font-weight:bold;}
p.VrezkaHeader, li.VrezkaHeader, div.VrezkaHeader	{margin-top:12.0pt;	margin-right:1.0cm;	margin-bottom:0cm;	margin-left:1.0cm;	margin-bottom:.0001pt;	text-align:center;	page-break-after:avoid;	background:gray;	font-size:10.0pt;	font-family:"Arial CYR";	color:white;	font-weight:bold;}
p.VrezkaText, li.VrezkaText, div.VrezkaText	{margin-top:0cm;	margin-right:1.0cm;	margin-bottom:3.0pt;	margin-left:1.0cm;	text-align:justify;	background:#F2F2F2;	font-size:10.0pt;	font-family:"Times New Roman CYR";}
p.TabHeader, li.TabHeader, div.TabHeader {margin-top:6.0pt; margin-right:0cm; margin-bottom:0cm; margin-left:0cm; margin-bottom:.0001pt; page-break-after:avoid; background:gray; font-size:10.0pt; font-family:"Arial CYR"; color:white; font-weight:bold;}
p.TabShapka, li.TabShapka, div.TabShapka 	{margin-top:6.0pt;	margin-right:0cm;	margin-bottom:0cm;	margin-left:0cm;	margin-bottom:.0001pt;	page-break-after:avoid;	font-size:10.0pt;	font-family:"Arial CYR";	font-weight:bold;}
p.Table, li.Table, div.Table 	{margin-top:2.0pt;	margin-right:0cm;	margin-bottom:0cm;	margin-left:0cm;	margin-bottom:.0001pt;	font-size:9.0pt;	font-family:"Arial CYR";}

.sape{ font-size:11px; text-align:center;}

.main-page__menu-item {
  margin-top: 5px;
}